body, html {
  height: 100%;
  background: linear-gradient(#00DDBB, #0076FF);
  font-family: 'Open Sans';
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  width: 730px;
  height: 300px;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow: hidden;
  border: 10px solid white;
}

.foto img {
  width: 100%;
}

.contenedor-foto {
  flex: 0 0 auto;
}

.contenedor-texto {
  flex: 1 1 auto;
  margin-left: 30px;
}